/* file: style.css */

.text-col {
  height: 80%;
  font-color: grey;
  background-color: lightgray;
  padding-left: 10px;
  box-sizing: border-box;
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
